<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-12 col-xs-12" style='text-align: center'>
      <br /><br /><br /><br /><br />
      <%= image_tag "under_construction.gif" %>
    </div>
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
